<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
    <div class="item">
      <mat-form-field floatLabel="never">
        <label>Name:</label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class="item">
      <button mat-raised-button color="primary" disableRipple="true">Click me!</button>
    </div>

    <div class="item">
      <button mat-raised-button color="primary" disabled="true">Click me!</button>
    </div>

    <div class="item">
      <mat-checkbox>Check me!</mat-checkbox>
    </div>

    <div class="item">
      <mat-form-field>
        <mat-select placeholder="Favorite food">
          <mat-option value='pasta'></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>

