<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <form>
    <div class="custom-text-field">
      <p>Name:</p>
      <mat-form-field class="example-full-width">
        <input matInput/>
      </mat-form-field>
    </div>

    <div class="custom-text-field">
      <p>Apellidos:</p>
      <mat-form-field class="example-full-width">
        <input matInput/>
      </mat-form-field>
    </div>

    <mat-checkbox color="primary">Check me!</mat-checkbox>
  </form>
</div>

